body {
  font: 400 14px/1.5 "Poppins", sans-serif;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

.list {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.hidden {
  display: none;
}

.active {
  background: #5932ea;
}

.active .navigation__icon {
  fill: #ffffff;
}

.active .navigation__chevron {
  stroke: #ffffff;
}

.active .navico {
  stroke: #ffffff;
}

.active .navigation__text {
  color: #ffffff;
  -webkit-transition: color 0.6s ease;
  transition: color 0.6s ease;
}

.navigation__icon {
  fill: #ffffff;
}

.navigation {
  background: #ffffff;
  -webkit-box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
  box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
  min-height: 100%;
  padding: 51px 28px 76px 28px;
}

.navigation__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 52px;
}

.navigation__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.navigation__title {
  color: #000;
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 0.26px;
  margin-right: 4px;
}

.navigation__version {
  font-size: 11px;
}

.navigation__logo {
  margin-right: 8px;
}

.navigation__list {
  margin-bottom: 586px;
  padding: 0;
}

.navigation__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 8px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 250px;
  height: 46px;
  color: #9197b3;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.14px;
  margin-bottom: 18px;
  padding-left: 11px;
  padding-right: 11px;
  cursor: pointer;
  -webkit-transition: background-color 0.1s linear;
  transition: background-color 0.1s linear;
}

.navigation__item:hover,
.navigation__item:focus {
  outline: 1px dotted rgba(89, 50, 234, 0.3);
}

.navigation__text {
  margin-left: 14px;
}

.navigation__icon {
  fill: #9197b3;
}

.navigation__icon:hover use {
  fill: #ffffff;
}

.navigation__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation img[src="./img/user-pic.png"] {
  margin-right: 12px;
}

.navigation__username {
  color: nav-username-color;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.14px;
}

.navigation__userprof {
  color: #757575;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.12px;
}

.navigation__chevron {
  stroke: #9197b3;
  margin-left: auto;
  margin-right: -4px;
}

.navico {
  stroke: #9197b3;
}

.board {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  background: #fafbff;
  padding-top: 56px;
  padding-right: 95px;
  padding-left: 71px;
}

.board__title {
  color: #000000;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 52px;
}

.customers,
.product,
.dashboard,
.income,
.promote,
.help {
  background: #ffffff;
  max-width: 968px;
  padding: 30px 40px 40px 38px;
  color: #292d32;
  border-radius: 20px;
  -webkit-box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
  box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
}

.customers__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 40px;
}

.customers__header-title {
  color: #000000;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: -0.22px;
  margin-bottom: 7px;
  cursor: pointer;
}

.customers__header-text {
  color: #16c098;
  letter-spacing: -0.14px;
  cursor: pointer;
}

.customers__header-searchbar {
  position: relative;
  margin-right: 9px;
}

.customers__data-list {
  margin-bottom: 32px;
}

.customers__data-header {
  text-transform: capitalize;
  border-bottom: 1px solid #eeeeee;
  width: 968px;
  margin-left: -40px;
  padding-left: 40px;
  padding-bottom: 14px;
}

.customers__data-item {
  padding-top: 17px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eeeeee;
}

.customers__data-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #b5b7c0;
  letter-spacing: -0.14px;
}

.customers__data-name {
  width: 172px;
}

.customers__data-company {
  width: 131px;
}

.customers__data-phone {
  width: 158px;
}

.customers__data-email {
  width: 199px;
}

.customers__data-country {
  width: 152px;
  padding-left: 8px;
}

.customers__data-status {
  padding-left: 8px;
  margin-left: -5px;
}

.customers__data-status--marked {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 0px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #eeeeee;
}

.customers__data-status--active {
  border: 1px solid #00b087;
  color: #00b087;
  background: rgba(22, 192, 152, 0.38);
}

.customers__data-status--inactive {
  border: 1px solid #df0404;
  color: #df0404;
  background: #ffc5c5;
}

.customers__data-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #292d32;
  font-weight: 500;
  letter-spacing: -0.14px;
}

.customers__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.customers__footer-pagination {
  margin-right: -10px;
  margin-top: -3px;
}

.customers__footer-info {
  color: #b5b7c0;
  font-weight: 500;
  letter-spacing: -0.14px;
}

.customers__footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.customers__footer-item {
  width: 25px;
  height: 24px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 6px 9px;
  margin-right: 12px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #404b52;
  border-radius: 4px;
  border: 1px solid #eeeeee;
  background: #f5f5f5;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -0.12px;
  cursor: pointer;
}

.customers__footer-item--active {
  border: 1px solid #5932ea;
  background: #5932ea;
  color: #ffffff;
}

.customers__footer-dots {
  margin-right: 12px;
  cursor: pointer;
}

.previous:active,
.next:active {
  border: 1px solid #5932ea;
  background: #5932ea;
  color: #ffffff;
}

.search-input {
  width: 216px;
  height: 38px;
  font-size: 12px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 37px;
  color: #b5b7c0;
  border-radius: 10px;
  letter-spacing: -0.12px;
  background: #fafbff;
  outline: none;
  border: none;
}

.search-icon {
  position: absolute;
  top: 63%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 5px;
}

@supports (-webkit-appearance:none) {

}

@media screen and (max-width: 480px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 480px;
    width: 100%;
  }

  .board {
    padding-top: 12px;
    padding-left: 14px;
    padding-right: 14px;
  }

  .board__title {
    font-size: 18px;
    margin-bottom: 12px;
  }

  .customers,
  .product,
  .dashboard,
  .income,
  .promote,
  .help {
    overflow: hidden;
  }

  .navigation {
    width: 100%;
    padding-bottom: 24px;
    padding-top: 24px;
  }

  .navigation__header {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-bottom: 0;
  }

  .navigation__list {
    display: none;
  }

  .navigation__footer {
    display: none;
  }

  .menu-icon {
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  #menuIcon.activeItem .bar:nth-child(1) {
    -webkit-transform: rotate(-45deg) translate(-5px, 6px);
    -ms-transform: rotate(-45deg) translate(-5px, 6px);
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  #menuIcon.activeItem .bar:nth-child(2) {
    opacity: 0;
  }

  #menuIcon.activeItem .bar:nth-child(3) {
    -webkit-transform: rotate(45deg) translate(-5px, -6px);
    -ms-transform: rotate(45deg) translate(-5px, -6px);
    transform: rotate(45deg) translate(-5px, -6px);
  }

  .bar {
    width: 24px;
    height: 2px;
    background-color: #404b52;
    margin: 3px 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .mobile-menu {
    display: none;
    position: absolute;
    top: 80px;
    left: 50%;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
    width: 100%;
    height: 100%;
    padding-top: 31px;
    padding-bottom: 31px;
    padding-left: 40px;
    padding-right: 40px;
    overflow: hidden;
    z-index: 888;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    background-color: #fff;
    color: #404b52;
  }

  .mobile-menu ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    text-transform: uppercase;
  }

  .mobile-menu li {
    padding-bottom: 32px;
    text-align: center;
  }

  .mobile-menu a {
    text-decoration: none;
    font-size: 22px;
    display: block;
    -webkit-transition: 0.1s;
    transition: 0.1s;
  }

  .mobile-menu a:hover {
    -webkit-transform: scale(110%);
    -ms-transform: scale(110%);
    transform: scale(110%);
  }

  .mobile-menu a:hover {
    color: #5932ea;
  }

  .activeItem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .customers {
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 20px;
  }

  .customers__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 10px;
  }

  .customers__header-titles {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    margin-bottom: 12px;
    font-size: 14px;
  }

  .customers__header-title {
    font-size: 14px;
  }

  .customers__header-searchbar {
    width: 100%;
    margin-bottom: 0px;
  }

  .customers__data {
    max-height: none;
  }

  .customers__data-name,
  .customers__data-company,
  .customers__data-phone,
  .customers__data-email,
  .customers__data-country {
    width: auto;
  }

  .customers__data-status {
    width: 60%;
    border: none;
    background-color: inherit;
  }

  .customers__data-item {
    font-size: 14px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: 8px;
  }

  .customers__data-header {
    display: none;
  }

  .customers__footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .customers__footer-info {
    margin-bottom: 14px;
  }

  .customers__footer-item {
    width: 24px;
    height: 24px;
    font-size: 12px;
  }

  .search-input {
    width: 100%;
  }

@supports (-webkit-appearance:none) {

}
}